@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif Bengali", serif;
}
body {
  background-color: #f7f7f7;
  position: relative;
}
@media only screen and (max-width: 767px) {
  header {
    border: none;
    > .container {
      border: none;
      // <!-- back to page -->
      > a {
        color: white;
        > i {
          color: #8ae168;
        }
        > span {
          font-size: 10px;
        }
      }

      // icon image
      > .icon-img {
        > a {
          > img {
            width: 34px;
          }
          > span {
            font-size: 20px !important;
          }
        }
      }
    }
  }

  // body container
  .body-container {
    padding: 0 6px;
    max-width: 500px !important;
    display: flex;
    flex-direction: column;
    > .title {
      color: rgba(255, 0, 0, 0.801);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      text-align: center;
      > i {
        font-size: 24px;
      }
      > h1 {
        margin: 0;
        font-weight: 500;
        color: #da0000;
      }
    }
    > .text {
      color: darkgreen;
      text-align: center;
      margin: 0px 0 10px !important;
    }

    //   form section
    > .form-part {
      width: 100%;
      > form {
        > div {
          display: grid;
          grid-template-columns: auto;
          grid-template-areas: "place1" "place2 " " place3" !important;
          gap: 10px !important;

          > :nth-child(1) {
            grid-area: place1;
          }
          > :nth-child(2) {
            grid-area: place2;
          }
          > :nth-child(3) {
            grid-area: place3;
          }
          > select {
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            &:focus {
              outline: none;
              box-shadow: none;
              border: 1px solid rgb(24, 207, 0);
            }
          }
        }
      }
    }
  }

  // every one profile
  .profile-section {
    padding: 0;
    margin-top: 270px !important;
    > .profile {
      border-radius: 0;
      padding: 12px 6px !important;
      > .img {
        margin-right: 10px;
        > img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: none;
          object-fit: cover;
          text-decoration: none;
        }
      }
      > .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        vertical-align: middle;
        gap: 6px;
        > :nth-child(1) {
          font-weight: 700;
          color: #636363;
          text-decoration: none;
          transition: all 0.5s ease-in-out;

          &:hover {
            color: rgb(62, 184, 62);
          }
        }
        > :nth-child(2) {
          color: #636363;
          line-height: 18px;
        }
      }
    }
  }
}

// ---------------------------------------------------
// --------------------default------------------------
// ---------------------------------------------------

// header
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: all 0.5s;
  background-color: #aa3333;

  //   header manubar one
  > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    // <!-- back to page -->
    > a {
      color: white;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      gap: 6px;
      transition: all 0.5s ease-in-out;
      font-weight: 700;

      > i {
        color: #8ae168;
        transition: all 0.5s ease-in-out;
      }

      &:hover {
        color: #8ae168;
        > i {
          color: white;
        }
      }
    }

    // icon image
    > .icon-img {
      position: relative;
      transition: all 0.5s ease-in-out;
      > a {
        transition: all 0.3s ease-in-out;
        > img {
          background-color: white;
          border-radius: 50%;
          margin-right: 10px;
          padding: 4px;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  // body container
  .body-container {
    padding: 0 6px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    > .title {
      color: rgba(255, 0, 0, 0.801);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      text-align: center;
      > i {
        font-size: 24px;
      }
      > h1 {
        margin: 0;
        font-weight: 500;
        color: #da0000;
      }
    }
    > .text {
      color: darkgreen;
      text-align: center;
      margin: 0px 0 16px;
    }

    //   form section
    > .form-part {
      width: 100%;
      > form {
        > div {
          display: grid;
          grid-template-columns: auto;
          grid-template-areas: "place1 place2 place3";
          gap: 30px;

          > :nth-child(1) {
            grid-area: place1;
          }
          > :nth-child(2) {
            grid-area: place2;
          }
          > :nth-child(3) {
            grid-area: place3;
          }
          > select {
            transition: all 0.5s ease-in-out;
            cursor: pointer;
            &:focus {
              outline: none;
              box-shadow: none;
              border: 1px solid rgb(24, 207, 0);
            }
          }
        }
      }
    }
  }
}

// every one profile
.profile-section {
  margin-top: 220px;
  > .profile {
    margin: 8px 0;
    max-width: 700px;
    border-top: 3px solid rgb(206, 206, 206);
    border-bottom: 3px solid rgb(206, 206, 206);
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 12px;
    > .img {
      margin-right: 10px;
      > img {
        width: 50px !important;
        height: 50px !important;
        border-radius: 50%;
        border: none;
        object-fit: cover;
        text-decoration: none;
      }
    }
    > .text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      vertical-align: middle;
      gap: 6px;
      > :nth-child(1) {
        font-weight: 700;
        color: #636363;
        text-decoration: none;
        transition: all 0.5s ease-in-out;

        &:hover {
          color: rgb(62, 184, 62);
        }
      }
      > :nth-child(2) {
        color: #636363;
        line-height: 18px;
      }
    }
  }

  // When there is no blood donor at this location
  > .empty {
    height: calc(100vh - 270px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
