* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f7f7f7;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 767px) {
  header > .container > .icon-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header > .container > .icon-img > a > img {
    width: 34px;
  }
  header > .container > .icon-img > a > span {
    font-size: 20px !important;
  }
  header > .container > .manubar .signIn-btn > a {
    padding: 4px 14px !important;
    font-size: 13px !important;
  }
  header section {
    padding: 6px !important;
  }
  header section > .container > .row > a {
    font-size: 20px !important;
  }
  header section > .container > .row > a > i {
    padding: 6px !important;
  }
  header section > .container > .row > a:hover > i {
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 7px rgb(148, 148, 148);
  }
  header section > .container > .row > a:focus > i {
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 7px rgb(148, 148, 148);
  }
  .container-body {
    max-width: 800px;
  }
  .container-body.body-containersticky {
    position: relative;
    margin-top: 86px;
    transition: all 0.5s ease-in-out;
  }
  .container-body > .search {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 26px !important;
  }
}
@media only screen and (min-width: 480px) and (max-width: 990px) {
  .container-body {
    max-width: 800px;
  }
  .container-body.body-containersticky {
    position: relative;
    margin-top: 86px;
    transition: all 0.5s ease-in-out;
  }
  .container-body > .search {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 25px !important;
  }
}
header {
  width: 100%;
  transition: all 0.5s;
  background-color: #aa3333;
}
header > .container {
  display: flex;
  padding: 15px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header > .container > .icon-img {
  position: relative;
  transition: all 0.5s ease-in-out;
}
header > .container > .icon-img > a {
  transition: all 0.3s ease-in-out;
}
header > .container > .icon-img > a > img {
  background-color: white;
  border-radius: 50%;
  margin-right: 10px;
  padding: 8px;
  transition: all 0.3s ease-in-out;
}
header > .container > .manubar {
  position: relative;
  display: flex;
  justify-content: space-between;
}
header > .container > .manubar > .signIn-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  margin-right: 10px;
}
header > .container > .manubar > .signIn-btn > ion-icon:host {
  stroke: none;
}
header > .container > .manubar > .signIn-btn > a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background: linear-gradient(#1fbf15, #6fb554);
  padding: 8px 17px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
  border-radius: 40px;
  transition: all 0.5s;
}
header > .container > .manubar > .signIn-btn > a:hover {
  background: linear-gradient(#6fb554, #1fbf15);
}
header > .container > .manubar > .side-bar > .offcanvas {
  min-width: 320px;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-header {
  padding: 10px 20px !important;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-header > .offcanvas-title > .icon-img > a > img {
  width: 40px;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-header > .offcanvas-title > .icon-img > a > span {
  font-size: 30px !important;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-header > button {
  border: 2px solid red;
  border-radius: 50%;
  font-size: 14px;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-header > button:focus {
  box-shadow: none;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body {
  padding: 0;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body::-webkit-scrollbar {
  width: 8px;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #6fb554);
  border-radius: 6px;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body::-webkit-scrollbar-track {
  width: 8px;
  background-color: white;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body > .profile-section {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #ff0844 0%, #760000 100%);
  padding: 20px;
  color: white;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body > .profile-section > .img-div > img {
  width: 140px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 10px;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body > .profile-section > .top-information > span {
  font-size: 20px;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body > nav {
  margin-top: 10px;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body > nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body > nav > ul > li {
  list-style: none;
  padding: 13px 0;
  transition: all 0.5s ease-in-out;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body > nav > ul > li:hover {
  background-color: #ddd;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body > nav > ul > li:hover > a {
  color: black;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body > nav > ul > li > a {
  text-decoration: none;
  color: rgb(119, 119, 119);
  display: flex;
  justify-content: start;
  align-items: center;
  vertical-align: middle;
  padding-left: 15px;
  transition: all 0.5s;
  font-size: 20px;
}
header > .container > .manubar > .side-bar > .offcanvas > .offcanvas-body > nav > ul > li > a > ion-icon {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-weight: bold;
  color: green;
}
header > section {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 5px -3px black;
}
header > section.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
header > section > .container > .manubar {
  color: #6fb554;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease-in-out;
}
header > section > .container > .manubar > a {
  padding: 0 4px;
}
header > section > .container > .manubar > a > i {
  padding: 8px;
  transition: all 0.3s ease-in-out;
}
header > section > .container > .manubar > a:hover > i {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(148, 148, 148);
}
header > section > .container > .manubar > a.active > i {
  padding: 8px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 5px rgb(148, 148, 148);
}

.container-body {
  max-width: 800px;
  padding: 10px;
}
.container-body.body-containersticky {
  position: relative;
  margin-top: 86px;
  transition: all 0.5s ease-in-out;
}
.container-body > .search {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.container-body > .search > a {
  background-color: white;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 40px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.container-body > .search > a > i {
  color: red;
  font-size: 26px;
}
.container-body > .search > a:hover {
  box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.5411764706);
  color: #6fb554;
}/*# sourceMappingURL=bloodSearch.css.map */