/* -----------------------------------------------
/* Author : Ashraf Uzzaman  - https://www.facebook.com/ashraf.uzmahim/
/* GitHub : https://github.com/AshrafUzzaman04
/* v2.0.0
/* ----------------------------------------------- */

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif Bengali", serif;
}
body {
  scroll-behavior: smooth;
  background-color: white;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #ff0000, #ff0000);
    border-radius: 6px;
  }
  &::-webkit-scrollbar-track {
    width: 8px;
    background-color: black;
  }
}

// ===============================
// 767px width
// ===============================

@media only screen and (max-width: 767px) {
  .background {
    header {
      > .container {
        // icon image
        > .icon-img {
          display: flex;
          justify-content: center;
          align-items: center;
          > a {
            > img {
              width: 34px;
            }
            > span {
              font-size: 20px !important;
            }
          }
        }

        > .manubar {
          // sign in button
          .signIn-btn {
            > a {
              padding: 4px 14px !important;
              font-size: 13px !important;
            }
          }
        }
      }
    }

    // hero text container
    .hero-text {
      position: relative;
      padding-top: 100px !important;
      padding-left: 20px;
      padding-right: 20px;
      > h1 {
        color: white;
        font-family: "Hind Siliguri", sans-serif;
        font-weight: 800;
        padding-bottom: 10px;
      }
      > p {
        color: #68df60;
        background: linear-gradient(to right, #ff7979 0%, #2bff00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600;
        font-size: 16px !important;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    }

    // slider top
    > .slider {
      width: 100% !important;
      height: 100% !important;
      > section {
        margin-top: 10px !important;
        > .swiper {
          width: 600px;
          height: 300px;
        }
      }
    }

    // statistics section started here
    > .container-statistics {
      position: relative;
      margin-top: 18px !important;
      > .statistics {
        position: relative;
        > .row {
          background-color: transparent;
          > div {
            display: flex;
            flex-direction: row;
            align-items: center;
            vertical-align: middle;
            gap: 4px !important;
            padding: 10px !important;
            > .icon {
              margin-right: 2px !important;
              padding: 4px !important;

              > i {
                font-size: 20px !important;
                color: rgb(255, 255, 255);
                border-radius: 50%;
              }
            }
            > .text {
              font-weight: 600 !important;
              text-align: center;
              line-height: 18px !important;

              > :nth-child(1) {
                font-size: 18px !important;
                font-family: "Signika Negative", sans-serif;
              }
              > :nth-child(2) {
                color: #68df60;
                font-size: 10px !important;
              }
            }
          }
          > :nth-child(1) {
            > .text {
              > :nth-child(2) {
                font-size: 8px !important;
              }
            }
          }
        }
      }
    }
  }

  // main body
  .container {
    // features section
    > .features {
      > .row {
        > div {
          margin: 10px 10px;
          > a {
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border-left: 5px solid;
            padding: 18px 8px !important;
            box-shadow: 0px 0px 20px -11px black;
            transition: all 0.8s;

            > .icon-features {
              > i {
                background-color: rgb(207, 0, 0);
                border-radius: 50%;
                padding: 14px !important;
                color: white;
                font-size: 20px !important;
                margin-bottom: 5px !important;
                transform: rotate(360deg);
                transition: all 0.8s;
              }

              > .fa-droplet {
                padding: 12px 15px !important;
              }

              > .fa-lightbulb {
                padding: 12px 15px !important;
              }
            }
            > span {
              color: rgb(119, 119, 119);
              font-size: 18px !important;
              font-weight: 600;
              transition: all 1s;
              text-align: center;
            }
          }
        }
        > :nth-child(5) {
          > a {
            > span {
              font-size: 16px !important;
            }
          }
        }
      }
    }

    // <!-- Volunteers Needed to Help section -->
    > .help {
      > .row {
        flex-direction: column-reverse;
        > .text {
          > span {
            line-height: 50px !important;
          }
          > p {
            font-size: 17px !important;
          }
          > a {
            text-decoration: none;
            > button {
              font-size: 30px;
              color: white;
              font-weight: 700;
              padding: 10px 50px;
              background: linear-gradient(#1fbf15, #6fb554);
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }
}

// ===============================
// default style
// ===============================

.background {
  height: 100vh;
  width: 100%;
  height: calc(100vh - 50%);
  background-color: #aa3333;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1022' height='511' viewBox='0 0 1600 800'%3E%3Cpath fill='%2333FF86' d='M1102.5 734.8c2.5-1.2 24.8-8.6 25.6-7.5.5.7-3.9 23.8-4.6 24.5C1123.3 752.1 1107.5 739.5 1102.5 734.8zM1226.3 229.1c0-.1-4.9-9.4-7-14.2-.1-.3-.3-1.1-.4-1.6-.1-.4-.3-.7-.6-.9-.3-.2-.6-.1-.8.1l-13.1 12.3c0 0 0 0 0 0-.2.2-.3.5-.4.8 0 .3 0 .7.2 1 .1.1 1.4 2.5 2.1 3.6 2.4 3.7 6.5 12.1 6.5 12.2.2.3.4.5.7.6.3 0 .5-.1.7-.3 0 0 1.8-2.5 2.7-3.6 1.5-1.6 3-3.2 4.6-4.7 1.2-1.2 1.6-1.4 2.1-1.6.5-.3 1.1-.5 2.5-1.9C1226.5 230.4 1226.6 229.6 1226.3 229.1zM33 770.3C33 770.3 33 770.3 33 770.3c0-.7-.5-1.2-1.2-1.2-.1 0-.3 0-.4.1-1.6.2-14.3.1-22.2 0-.3 0-.6.1-.9.4-.2.2-.4.5-.4.9 0 .2 0 4.9.1 5.9l.4 13.6c0 .3.2.6.4.9.2.2.5.3.8.3 0 0 .1 0 .1 0 7.3-.7 14.7-.9 22-.6.3 0 .7-.1.9-.3.2-.2.4-.6.4-.9C32.9 783.3 32.9 776.2 33 770.3z'/%3E%3Cpath fill='%23F7FF00' d='M171.1 383.4c1.3-2.5 14.3-22 15.6-21.6.8.3 11.5 21.2 11.5 22.1C198.1 384.2 177.9 384 171.1 383.4zM596.4 711.8c-.1-.1-6.7-8.2-9.7-12.5-.2-.3-.5-1-.7-1.5-.2-.4-.4-.7-.7-.8-.3-.1-.6 0-.8.3L574 712c0 0 0 0 0 0-.2.2-.2.5-.2.9 0 .3.2.7.4.9.1.1 1.8 2.2 2.8 3.1 3.1 3.1 8.8 10.5 8.9 10.6.2.3.5.4.8.4.3 0 .5-.2.6-.5 0 0 1.2-2.8 2-4.1 1.1-1.9 2.3-3.7 3.5-5.5.9-1.4 1.3-1.7 1.7-2 .5-.4 1-.7 2.1-2.4C596.9 713.1 596.8 712.3 596.4 711.8zM727.5 179.9C727.5 179.9 727.5 179.9 727.5 179.9c.6.2 1.3-.2 1.4-.8 0-.1 0-.2 0-.4.2-1.4 2.8-12.6 4.5-19.5.1-.3 0-.6-.2-.8-.2-.3-.5-.4-.8-.5-.2 0-4.7-1.1-5.7-1.3l-13.4-2.7c-.3-.1-.7 0-.9.2-.2.2-.4.4-.5.6 0 0 0 .1 0 .1-.8 6.5-2.2 13.1-3.9 19.4-.1.3 0 .6.2.9.2.3.5.4.8.5C714.8 176.9 721.7 178.5 727.5 179.9zM728.5 178.1c-.1-.1-.2-.2-.4-.2C728.3 177.9 728.4 178 728.5 178.1z'/%3E%3Cg fill-opacity='0.23' fill='%23FFF'%3E%3Cpath d='M699.6 472.7c-1.5 0-2.8-.8-3.5-2.3-.8-1.9 0-4.2 1.9-5 3.7-1.6 6.8-4.7 8.4-8.5 1.6-3.8 1.7-8.1.2-11.9-.3-.9-.8-1.8-1.2-2.8-.8-1.7-1.8-3.7-2.3-5.9-.9-4.1-.2-8.6 2-12.8 1.7-3.1 4.1-6.1 7.6-9.1 1.6-1.4 4-1.2 5.3.4 1.4 1.6 1.2 4-.4 5.3-2.8 2.5-4.7 4.7-5.9 7-1.4 2.6-1.9 5.3-1.3 7.6.3 1.4 1 2.8 1.7 4.3.5 1.1 1 2.2 1.5 3.3 2.1 5.6 2 12-.3 17.6-2.3 5.5-6.8 10.1-12.3 12.5C700.6 472.6 700.1 472.7 699.6 472.7zM740.4 421.4c1.5-.2 3 .5 3.8 1.9 1.1 1.8.4 4.2-1.4 5.3-3.7 2.1-6.4 5.6-7.6 9.5-1.2 4-.8 8.4 1.1 12.1.4.9 1 1.7 1.6 2.7 1 1.7 2.2 3.5 3 5.7 1.4 4 1.2 8.7-.6 13.2-1.4 3.4-3.5 6.6-6.8 10.1-1.5 1.6-3.9 1.7-5.5.2-1.6-1.4-1.7-3.9-.2-5.4 2.6-2.8 4.3-5.3 5.3-7.7 1.1-2.8 1.3-5.6.5-7.9-.5-1.3-1.3-2.7-2.2-4.1-.6-1-1.3-2.1-1.9-3.2-2.8-5.4-3.4-11.9-1.7-17.8 1.8-5.9 5.8-11 11.2-14C739.4 421.6 739.9 421.4 740.4 421.4zM261.3 590.9c5.7 6.8 9 15.7 9.4 22.4.5 7.3-2.4 16.4-10.2 20.4-3 1.5-6.7 2.2-11.2 2.2-7.9-.1-12.9-2.9-15.4-8.4-2.1-4.7-2.3-11.4 1.8-15.9 3.2-3.5 7.8-4.1 11.2-1.6 1.2.9 1.5 2.7.6 3.9-.9 1.2-2.7 1.5-3.9.6-1.8-1.3-3.6.6-3.8.8-2.4 2.6-2.1 7-.8 9.9 1.5 3.4 4.7 5 10.4 5.1 3.6 0 6.4-.5 8.6-1.6 4.7-2.4 7.7-8.6 7.2-15-.5-7.3-5.3-18.2-13-23.9-4.2-3.1-8.5-4.1-12.9-3.1-3.1.7-6.2 2.4-9.7 5-6.6 5.1-11.7 11.8-14.2 19-2.7 7.7-2.1 15.8 1.9 23.9.7 1.4.1 3.1-1.3 3.7-1.4.7-3.1.1-3.7-1.3-4.6-9.4-5.4-19.2-2.2-28.2 2.9-8.2 8.6-15.9 16.1-21.6 4.1-3.1 8-5.1 11.8-6 6-1.4 12 0 17.5 4C257.6 586.9 259.6 588.8 261.3 590.9z'/%3E%3Ccircle cx='1013.7' cy='153.9' r='7.1'/%3E%3Ccircle cx='1024.3' cy='132.1' r='7.1'/%3E%3Ccircle cx='1037.3' cy='148.9' r='7.1'/%3E%3Cpath d='M1508.7 297.2c-4.8-5.4-9.7-10.8-14.8-16.2 5.6-5.6 11.1-11.5 15.6-18.2 1.2-1.7.7-4.1-1-5.2-1.7-1.2-4.1-.7-5.2 1-4.2 6.2-9.1 11.6-14.5 16.9-4.8-5-9.7-10-14.7-14.9-1.5-1.5-3.9-1.5-5.3 0-1.5 1.5-1.5 3.9 0 5.3 4.9 4.8 9.7 9.8 14.5 14.8-1.1 1.1-2.3 2.2-3.5 3.2-4.1 3.8-8.4 7.8-12.4 12-1.4 1.5-1.4 3.8 0 5.3 0 0 0 0 0 0 1.5 1.4 3.9 1.4 5.3-.1 3.9-4 8.1-7.9 12.1-11.7 1.2-1.1 2.3-2.2 3.5-3.3 4.9 5.3 9.8 10.6 14.6 15.9.1.1.1.1.2.2 1.4 1.4 3.7 1.5 5.2.2C1510 301.2 1510.1 298.8 1508.7 297.2zM327.6 248.6l-.4-2.6c-1.5-11.1-2.2-23.2-2.3-37 0-5.5 0-11.5.2-18.5 0-.7 0-1.5 0-2.3 0-5 0-11.2 3.9-13.5 2.2-1.3 5.1-1 8.5.9 5.7 3.1 13.2 8.7 17.5 14.9 5.5 7.8 7.3 16.9 5 25.7-3.2 12.3-15 31-30 32.1L327.6 248.6zM332.1 179.2c-.2 0-.3 0-.4.1-.1.1-.7.5-1.1 2.7-.3 1.9-.3 4.2-.3 6.3 0 .8 0 1.7 0 2.4-.2 6.9-.2 12.8-.2 18.3.1 12.5.7 23.5 2 33.7 11-2.7 20.4-18.1 23-27.8 1.9-7.2.4-14.8-4.2-21.3l0 0C347 188.1 340 183 335 180.3 333.6 179.5 332.6 179.2 332.1 179.2zM516.3 60.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C517.3 60.4 516.8 60.8 516.3 60.8zM506.1 70.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C506.4 70.5 506.2 70.5 506.1 70.5zM494.1 64.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C494.7 64.3 494.4 64.4 494.1 64.4zM500.5 55.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C500.9 55.3 500.7 55.3 500.5 55.3zM506.7 55c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C507.4 54.8 507.1 55 506.7 55zM1029.3 382.8c-.1 0-.2 0-.4-.1-2.4-.7-4-.9-6.7-.7-.7 0-1.3-.5-1.4-1.2 0-.7.5-1.3 1.2-1.4 3.1-.2 4.9 0 7.6.8.7.2 1.1.9.9 1.6C1030.3 382.4 1029.8 382.8 1029.3 382.8zM1019.1 392.5c-.5 0-1-.3-1.2-.8-.8-2.1-1.2-4.3-1.3-6.6 0-.7.5-1.3 1.2-1.3.7 0 1.3.5 1.3 1.2.1 2 .5 3.9 1.1 5.8.2.7-.1 1.4-.8 1.6C1019.4 392.5 1019.2 392.5 1019.1 392.5zM1007.1 386.4c-.4 0-.8-.2-1-.5-.4-.6-.3-1.4.2-1.8 1.8-1.4 3.7-2.6 5.8-3.6.6-.3 1.4 0 1.7.6.3.6 0 1.4-.6 1.7-1.9.9-3.7 2-5.3 3.3C1007.7 386.3 1007.4 386.4 1007.1 386.4zM1013.5 377.3c-.5 0-.9-.3-1.2-.7-.5-1-1.2-1.9-2.4-3.4-.3-.4-.7-.9-1.1-1.4-.4-.6-.3-1.4.2-1.8.6-.4 1.4-.3 1.8.2.4.5.8 1 1.1 1.4 1.3 1.6 2.1 2.6 2.7 3.9.3.6 0 1.4-.6 1.7C1013.9 377.3 1013.7 377.3 1013.5 377.3zM1019.7 377c-.3 0-.5-.1-.8-.2-.6-.4-.7-1.2-.3-1.8 1.2-1.7 2.3-3.4 3.3-5.2.3-.6 1.1-.9 1.7-.5.6.3.9 1.1.5 1.7-1 1.9-2.2 3.8-3.5 5.6C1020.4 376.8 1020.1 377 1019.7 377zM1329.7 573.4c-1.4 0-2.9-.2-4.5-.7-8.4-2.7-16.6-12.7-18.7-20-.4-1.4-.7-2.9-.9-4.4-8.1 3.3-15.5 10.6-15.4 21 0 1.5-1.2 2.7-2.7 2.8 0 0 0 0 0 0-1.5 0-2.7-1.2-2.7-2.7-.1-6.7 2.4-12.9 7-18 3.6-4 8.4-7.1 13.7-8.8.5-6.5 3.1-12.9 7.4-17.4 7-7.4 18.2-8.9 27.3-10.1l.7-.1c1.5-.2 2.9.9 3.1 2.3.2 1.5-.9 2.9-2.3 3.1l-.7.1c-8.6 1.2-18.4 2.5-24 8.4-3 3.2-5 7.7-5.7 12.4 7.9-1 17.7 1.3 24.3 5.7 4.3 2.9 7.1 7.8 7.2 12.7.2 4.3-1.7 8.3-5.2 11.1C1335.2 572.4 1332.6 573.4 1329.7 573.4zM1311 546.7c.1 1.5.4 3 .8 4.4 1.7 5.8 8.7 14.2 15.1 16.3 2.8.9 5.1.5 7.2-1.1 2.7-2.1 3.2-4.8 3.1-6.6-.1-3.2-2-6.4-4.8-8.3C1326.7 547.5 1317.7 545.6 1311 546.7z'/%3E%3C/g%3E%3C/svg%3E");
  // header
  header {
    width: 100%;
    // background: rgba(255, 255, 255, 0.658);
    padding: 30px 0;
    // box-shadow: 0 -10px 25px black;
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.5s;

    > .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;

      > .icon-img {
        position: relative;
        transition: all 0.5s ease-in-out;
        > a {
          transition: all 0.3s ease-in-out;
          > img {
            background-color: white;
            border-radius: 50%;
            margin-right: 10px;
            padding: 8px;
            transition: all 0.3s ease-in-out;
          }
        }
      }

      > .manubar {
        position: relative;
        display: flex;
        justify-content: space-between;

        // sign in button
        > .signIn-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          vertical-align: middle;
          margin-right: 10px;
          > ion-icon {
            &:host {
              stroke: none;
            }
          }
          > a {
            text-decoration: none;
            color: white;
            font-weight: 700;
            background: linear-gradient(#1fbf15, #6fb554);
            padding: 8px 17px;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            gap: 5px;
            border-radius: 40px;
            transition: all 0.5s;

            &:hover {
              background: linear-gradient(#6fb554, #1fbf15);
            }
          }
        }

        // <!-- left side scroll manubar -->
        > .side-bar {
          > .offcanvas {
            min-width: 320px;
            // header
            > .offcanvas-header {
              padding: 10px 20px !important;
              > .offcanvas-title {
                // offcanvas icon image
                > .icon-img {
                  > a {
                    > img {
                      width: 40px;
                    }
                    > span {
                      font-size: 30px !important;
                    }
                  }
                }
              }
              > button {
                border: 2px solid red;
                border-radius: 50%;
                font-size: 14px;
                &:focus {
                  box-shadow: none;
                }
              }
            }

            // ofcanvas body
            > .offcanvas-body {
              padding: 0;

              &::-webkit-scrollbar {
                width: 8px;
              }
              &::-webkit-scrollbar-thumb {
                background: linear-gradient(transparent, #6fb554);
                border-radius: 6px;
              }
              &::-webkit-scrollbar-track {
                width: 8px;
                background-color: white;
              }
              //<!-- profile section -->
              > .profile-section {
                text-align: center;
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: linear-gradient(
                  to top,
                  #ff0844 0%,
                  #760000 100%
                );
                padding: 20px;
                color: white;

                > .img-div {
                  > img {
                    width: 140px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;
                    padding-bottom: 10px;
                  }
                }
                > .top-information {
                  > span {
                    font-size: 20px;
                  }
                }
              }

              // <!-- list slider manu -->
              > nav {
                margin-top: 10px;
                > ul {
                  margin: 0;
                  padding: 0;
                  display: flex;
                  flex-direction: column;
                  > li {
                    list-style: none;
                    padding: 13px 0;
                    transition: all 0.5s ease-in-out;

                    &:hover {
                      background-color: #ddd;
                      > a {
                        color: black;
                      }
                    }

                    > a {
                      text-decoration: none;
                      color: rgb(119, 119, 119);
                      display: flex;
                      justify-content: start;
                      align-items: center;
                      vertical-align: middle;
                      padding-left: 15px;
                      transition: all 0.5s;
                      font-size: 20px;

                      > ion-icon {
                        vertical-align: middle;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 10px;
                        font-weight: bold;
                        color: green;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // hero text container
  .hero-text {
    position: relative;
    padding-top: 150px;
    > h1 {
      color: white;
      font-family: "Hind Siliguri", sans-serif;
      font-weight: 800;
      padding-bottom: 10px;
    }
    > p {
      color: #68df60;
      background: linear-gradient(to right, #ff7979 0%, #2bff00 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 600;
      font-size: 26px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }
  }

  // slider container
  > .slider {
    width: 700px;
    height: 300px;
    > section {
      margin-top: 50px;
      > .swiper {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        > .swiper-wrapper {
          > .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            > .swiper-slide img {
              display: block;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  // scroll effect manubar
  header.sitcky {
    background: rgba(255, 255, 255, 0.76);
    box-shadow: 0 -10px 25px black;
    padding: 10px 0;

    > .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;

      > .icon-img {
        position: relative;
        > a {
          > img {
            background-color: none;
            border-radius: none;
            margin-right: 10px;
            padding: 0;
          }
          > .fw-bold {
            font-size: 30px;
            text-align: center;
            vertical-align: middle;
            color: rgb(255, 0, 0) !important;
          }
        }
      }

      > .manubar {
        position: relative;
        display: flex;
        justify-content: space-between;

        > .mobile-navbar {
          color: black !important;
        }
      }
    }
  }

  // statistics section started here
  > .container-statistics {
    position: relative;
    margin-top: 150px;
    > .statistics {
      position: relative;
      > .row {
        background-color: transparent;
        > div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          vertical-align: middle;
          padding: 0px;
          > .icon {
            background-image: linear-gradient(
              to right,
              #6fb554,
              #68df60,
              #6fb554
            );
            border: none;
            border-radius: 50%;
            padding: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;

            > i {
              font-size: 40px;
              color: rgb(255, 255, 255);
              border-radius: 50%;
            }
          }
          > .text {
            display: flex;
            flex-direction: column;
            color: white;
            font-weight: 500;
            text-align: center;
            line-height: 35px;
            justify-content: center;
            align-items: center;

            > :nth-child(1) {
              font-size: 40px;
              font-family: "Signika Negative", sans-serif;
            }
            > :nth-child(2) {
              color: #68df60;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

// main body container
.container {
  // features section
  > .features {
    > .row {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      > div {
        margin: 20px 0;
        > a {
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          border-image: linear-gradient(to top, #ff8e6c 0%, #ff0844 100%);
          padding: 30px;
          border-image-slice: 1;
          border-left: 5px solid;
          box-shadow: 0px 0px 20px -11px black;
          transition: all 0.8s;

          > .icon-features {
            > i {
              background-color: rgb(207, 0, 0);
              border-radius: 50%;
              padding: 16px;
              color: white;
              font-size: 24px;
              margin-bottom: 18px;
              transform: rotate(360deg);
              transition: all 0.8s;
            }

            > .fa-droplet {
              padding: 16px 19px;
            }

            > .fa-lightbulb {
              padding: 16px 19px;
            }
          }
          > span {
            color: rgb(119, 119, 119);
            font-size: 24px;
            font-weight: 600;
            transition: all 1s;
            text-align: center;
          }

          &:hover {
            border-image: linear-gradient(to right, #ff0844 0%, #ff8e6c 100%);
            border-image-slice: 1;
            > .icon-features {
              > i {
                background: linear-gradient(to right, #ff8e6c 0%, #ff0844 100%);
                transform: rotate(0deg);
              }
            }
            > span {
              background: linear-gradient(to right, #ff8e6c 0%, #ff0844 100%);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-clip: text;
            }
          }
        }
      }
    }
  }

  // <!-- Volunteers Needed to Help section -->
  > .help {
    > .row {
      display: flex;
      justify-content: center;
      align-items: center;
      > .text {
        > span {
          background: linear-gradient(to right, #ff8e6c 0%, #ff0844 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          font-weight: 700;
          line-height: 60px;
        }
        > p {
          color: rgb(119, 119, 119);
          font-size: 24px;
          font-weight: 500;
          transition: all 1s;
          padding: 15px 0;
        }
        > a {
          text-decoration: none;
          > button {
            font-size: 20px;
            color: white;
            font-weight: 700;
            padding: 6px 32px;
            background: linear-gradient(#1fbf15, #6fb554);
            transition: all 0.5s ease-in-out;
          }
          &:hover {
            > button {
              background: linear-gradient(#6fb554, #1fbf15);
            }
          }
        }
      }
      > .img {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// footer
footer {
  > section {
    > .container-lg {
      padding: 14px !important;
      > div {
        display: flex;
        flex-direction: row;
        > div {
          color: white;
        }
        > :nth-child(1) {
          > a {
            > img {
              padding: 6px;
              background: linear-gradient(
                to right,
                #6fb554 0%,
                #46e73b 50%,
                #aa3333 100%
              );
              border-radius: 50%;
            }
            > span {
              color: white;
              font-size: 30px;
              text-align: center;
              vertical-align: middle;
            }
          }
          > p {
            color: #2bff00;
            font-weight: bold;
            font-size: 18px;
            margin: 10px 0;
          }
          > .mobile-app-link {
            > a {
              > img {
                margin: 0;
                padding: 0;
              }
            }
          }
        }
        > :nth-child(2) {
          > p {
            margin: 0;
            font-weight: 300;
            > a {
              color: rgba(255, 255, 255, 0.836);
              line-height: 26px;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
                color: #2bff00;
              }
            }
          }
        }
        > :nth-child(3) {
          > .subscribe {
            > form {
              display: flex;
              > .email {
                padding: 10px 0;
                padding-left: 8px;
                border: none;
                border-radius: 8px 0 0 8px;
                &:focus {
                  outline: 0;
                }
                &::placeholder {
                  color: rgb(214, 214, 214);
                }
              }
              > .submit {
                background: linear-gradient(
                  to right,
                  #67a74e,
                  #8ecf42,
                  #67a74e
                );
                font-weight: 500;
                border: none;
                border-radius: 0 8px 8px 0;
                padding: 10px;
                vertical-align: middle;
                text-align: center;
                color: white;
                font-size: 17px;
                transition: all 0.5s ease-in-out;

                &:hover {
                  background: linear-gradient(#6fb554, #1fbf15);
                }
              }
            }
          }
          > .list-item {
            margin: 15px 0;
            > ul {
              display: flex;
              padding: 0;
              gap: 25px;
              justify-content: start;
              > li {
                list-style: none;
                > a {
                  text-decoration: none;
                  color: rgba(255, 255, 255, 0.836);
                  font-weight: 300;
                  font-size: 17px;
                  transition: all 0.3s ease-in-out;

                  &:hover {
                    text-decoration: underline;
                    color: #2bff00;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // Section: logo media
  > .logo-media {
    > section {
      > :nth-child(2) {
        > a {
          > i {
            text-align: center;
            background-color: rgba(255, 255, 255, 0.836);
            padding: 10px;
            border-radius: 50%;
            font-size: 20px;
          }
        }
        > :nth-child(1) {
          > i {
            padding: 10px 14px;
          }
        }
        > :nth-child(2) {
          > i {
            padding: 10px 10px;
          }
        }
        > :nth-child(3) {
          > i {
            padding: 10px 11px;
          }
        }
        > :nth-child(4) {
          > i {
            padding: 10px 11px;
          }
        }
        > :nth-child(5) {
          > i {
            padding: 10px 8px;
          }
        }
        > :nth-child(6) {
          > i {
            padding: 10px 11px;
          }
        }
      }
    }
  }
}

// go to top button
.goToTop {
  position: fixed;
  right: 2%;
  bottom: 2%;
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
  animation: goToTop 1s linear infinite alternate-reverse;
  > img {
    width: 50px;
  }
}
.active {
  pointer-events: auto;
  opacity: 1;
  position: fixed;
  right: 2%;
  bottom: 3%;
  opacity: 70%;
  transition: all 0.5s;
  > img {
    width: 50px;
  }
  &:hover {
    opacity: 1;
  }
}

@keyframes goToTop {
  0% {
    transform: translateY(-0.3rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}
